{% extends "base.html" %}
{% load static %}
{% block title %}
    Ask
{% endblock title %}
{% block content %}
<h2>New question</h2>
<div class="row margin-top">
    <div class="col-md-2"><h4>Title</h4></div>
    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Title" placeholder="Enter your question here">
        <label class="control-label error" for="inputError">Title can't be empty!</label>
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-2"><h4>Text</h4></div>
    <div class="col-md-10">
        <textarea class="col-xs-40 submit form-control" name="auth_msg" placeholder="Enter the more detailed version of the question" rows="12" cols="45"></textarea>
        <label class="control-label error" for="inputError">Question can't be empty!</label>
    </div>
</div>
<div class="row margin-top">
    <div class="col-md-2"><h4>Tags</h4></div>
    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Insert tags separated by commas">
        <button type="button" class="btn btn-success margin-top">Ask</button>
    </div>
</div>
{% endblock content %}