{% extends "base.html" %}
{% load static %}
{% block title %}
    Question
{% endblock title %}
{% block content %}
	<div class="jumbotron">
	    <div class="col-md-2 question-left hidden-sm hidden-xs">
	        <a href="">
	            <img class="avatar" src="./img/example.svg">
	        </a>
	        <div class="question-author">Юрий Голубев</div>
	    </div>
	    <div class="col-md-9">
	        <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, ex, numquam a est voluptatibus quia aperiam, qui obcaecati odio, hic molestias illum delectus ea. Ratione deserunt, impedit blanditiis. Cumque dolorem voluptates quam recusandae ea dolorum doloremque reiciendis, nisi possimus vitae est, ducimus officia voluptate eum facilis ad ipsam. Impedit esse, quidem nobis quisquam eos expedita rerum aspernatur quae dignissimos officiis quos perferendis fuga consequatur dolore aperiam temporibus ex, autem voluptatum! Sint, dolor assumenda aspernatur mollitia temporibus voluptatibus possimus laboriosam modi. Aut alias pariatur temporibus cum saepe sed expedita, id, error laudantium quod corporis et harum culpa tempore fugiat in? Eum.
	        </div>
	    </div>
	</div>
	<div class="jumbotron question-bottom">
	    <div class="col-md-2 question-left">
	    <span class="question-rating align">
	                <a href=""><img class="vote" src="./img/upvote.png"></a>
	                10
	                <a href=""><img class="vote" src="./img/downvote.png"></a>
	            </span>
	    </div>
	    <div class="col-md-9">
	        <a href="/question.html?id=1000">answer (3)</a>
	        <span class="tags">Tags:
	        <a href="/tags/bender.html" class="question-tag">bender</a>
	        <a href="/tags/black-jack.html" class="question-tag">black-jack</a>
	        </span>
	    </div>
	</div>
	<br>
	{# {for} #}
{% endblock content %}
